body {
  background: rgba(78, 243, 100, 0.3);
}
.main-grid {
  display: grid;
  grid-template-columns: minmax(15%, 1fr) minmax(40%, 4fr);
  grid-gap: 10%;
  line-height: 1.5;
  margin: 40px 20px 20px 0;
}
#navbar {
  border-right: 1px solid black;
  font-size: 1.2em;
}
.nav-link {
  border-top: 1px solid black;
  display: block;
  text-decoration: none;
  margin-top: 10px;
  font-family: Lato;
  color: black;
}
.nav-link li {
  list-style-type: none;
}
article li {
  padding-left: 15px;
  margin: 5px;
}
ul {
  padding: 0;
}
.main-section {
  margin-bottom: 50px;
}
header {
  font-family: Cambria;
  font-weight: 600;
}
article {
  font-family: Lato;
}
code {
  background: rgba(180, 200, 180, 0.5);
  line-height: 2;
  padding: 15px;
  display: block;
  white-space: pre;
  text-align: left;
}
