.main-grid {
  display: flex;
  flex-wrap: wrap;
}
#navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-right: none;
  border-bottom: 1px solid black;
  margin: 10px;
  position: fixed;
  top: 20px;
  left: 20px;
}
#navbar .nav-link {
  display: inline-block;
  border: none;
  margin-right: 15px;
}
#navbar header {
  width: 100%;
}
#navbar ul {
  width: 100%;
}
#main-doc {
  margin: 150px 20px 20px 20px;
}
