@media screen and (max-width: 600px){
  #projects {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(4, 1fr) !important;
    grid-template-areas: "header" !important;
  }
  .project-title {
    margin-bottom: 30px;
  }
}
body {
  margin: 0;
}
#navbar {
  background: green;
  position: fixed;
  width: 100%;
  text-align: right;
}
#navbar a {
  text-decoration: none;
  display: inline-block;
  margin: 5px 20px 5px 20px;
  color: white;
}
.main-flex {
  display: flex;
  flex-wrap: wrap;
}
#welcome-section {
  width: 100%;
  min-height: 55vh;
  background: #C8F7C5;
  text-align: center;
  padding-top: 45vh;
  color: green;
}
#projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "header header header";
  justify-items: center;
  padding: 40px 0 40px 0;
}
#projects-main-header {
  grid-area: header;
  text-align: center;
  color: green;
}
.project-title {
  text-align: center;
}
.project {
  display: inline-block;
  width: 80%;
  border: 2px solid green;
}
.project-pic {
  width: 100%;
}
#contact {
  width: 100%;
  background: #C8F7C5;
  text-align: center;
  padding: 40px 0 40px 0;
  color: green;
}
.contact-detail {
  display: inline-block;
  border: 2px solid #90C695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-decoration: none;
  color: green;
  margin: 20px;
  font-size: 1.3em;
}
