body {
  background: rgba(90, 226, 99, 0.4);
  color: rgb(36, 85, 175);
  font-family: Verdana;
}
.main-container {
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#survey-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: center;
}
.flex-items {
  width: 100%;
  margin: 15px 0;
}
.choices {
  list-style-type: none;
  display: inline-block;
  width: 30%;
}
.labels {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 40%;
}
.inputs {
  text-align: left;
  width: 48%;
}
textarea {
  width: 40%;
  margin: 10px;
}
button {
  border: none;
  background: green;
  color: white;
  display: block;
  width: 20%;
  margin: 10px auto;
}
input[type="radio"], input[type="checkbox"] {
  margin: 10px 0;
}
